
@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");
:root {
--primary-color: #52489c;
--secondary-color: #59c3c3;
--accent-color: #f45b69;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica,sans-serif;
--secondary-font: Mooli, san-serif;
}

.gallery{
    display: grid;
    grid-template-columns: 1fr;
    background-color: wheat;
    margin-top: 30px;
}

body, a{
    color: white;
    background-color: maroon;
    text-align: center;
    font-family: var(--primary-font);
    font-size: 1.2em;
}

body{
    width: 100%;
    margin: 0;
}

a:link, a:visited {
  color: var(--accent-color);
}

img{
    border: 5px white solid;
    box-shadow: 2px 2px gray;
    max-width: 100%;
}

h1{
    font-size: 3em;
}

header{
    display: grid;
    grid-template-columns: 1fr;
}

button{
    background-color: #6D1A36;
    border: 2px white solid;
    font-size: 2em;
    color: white;
    margin: auto;
}

.menu-button{
    display: block;
    width: 20%;
}
a{
    margin: 6%;
}

.hide {
	display: none;
}

.viewer{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-row: 1fr;
    position: fixed;
    top:0;left:0;bottom:0;right:0;
    background-color: #333;
    margin-top: 10%;
}

.close-viewer{
    grid-column: 3/4;
}

.viewer-img{
    grid-column: 2/3;
    grid-row: 2/3;
}

@media screen and (max-width: 700px) {
     .menu{
        display: grid;
        grid-template-columns: 1fr;
        margin: 0;
    }

    a{
        margin: 0;
        margin-top: 3%;
    }
    .hide{
        display: none;
    }

}

@media screen and (min-width: 700px) {
    .gallery{
        grid-template-columns: 1fr 1fr;
    }
    /* a{
        display: none;
    } */
}

@media screen and (min-width: 1000px) {
    .gallery{
        grid-template-columns: 1fr 1fr 1fr;
    }
     .menu{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    /* a{
        display: block;
        font-size: 1.2em;
    }  */
}

